html {
  background-color: #F0F2F5 !important;
}

.lado-direito { 
  position: fixed;
  /* width: 1110px;    */
  height: 814px;
  background: #ffffff;
  box-sizing: border-box; 
}

#centro-pagina {
  /* width: 1110px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.align-left {
  /* display: flex; */
  margin-left: 0rem;
}

